a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.page-body{
    font-family: sans-serif;
    margin: auto;
    max-width: 1280px;
}

.page-header{
    max-width: 1280px;
    padding-top: 63px;
    padding-bottom: 48px;
}

.logo {
    font-weight: 400;
    font-size: 80px;
    color: #000;
    display: inline-block;
    padding-bottom: 40px;
}

.accent-color{
    color: #4bcaff;
}

.nav-box{
    margin: auto;
}

.nav-list{
    list-style: none;
    display: flex;
    background-color: #35444f;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.nav-item{
    max-width: 1280px;
    height: 69px;
}

.nav-link{
    display: inline-block;
    padding: 20px 22px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-top: 0;
    border: 1px solid #fff; 
}

.nav-item:hover {
    background-color: #333;
}

.wrapper{
    display: flex;
    gap: 52px;
    justify-content: space-between;
    flex-grow: 2;
}

.sidebar-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    width: 346px;
    height: 397px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.sidebar-item{
    width: 342px;
    height: 81px;
}

.sidebar-link{
    display: inline-block;
    font-weight: 400;
    font-size: 27px;
    line-height: 100%;
    color: #495863;
    padding: 26px 44px;
}

.sidebar-item:hover {
    background: #dbdbdb;
    text-align: center;
}

.img-descr {
    width: 885px;
    height: 832px;
    margin: 0;
}

.border{
    border: 1px solid #000;
    border-top: 0;
    padding: 72px 268px 72px 297px;
}

.img {
    transition: all .5s;
    margin: auto;
    display: inline-block;
    cursor: pointer;
}

.img:hover{
    transform: scale(1.2);
}

.descr1{
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #2c2c2c;
    text-align: justify;
    margin-top: 37px;
    margin-bottom: 13px;
}

.descr2{
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #2c2c2c;
    text-align: justify;
    margin: 0;
}

.page-footer{
    padding-top: 50px;
    padding-bottom: 30px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.footer-box{
    display: flex;
    justify-content: center;
    background: rgba(99, 105, 110, 0.48);
}

.footer-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.footer-item{
    max-width: 1280px;
    height: 69px;
}

.footer-link {
    display: inline-block;
    padding: 18px;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: #0c1927;
    text-align: center;
}

.footer-link:hover {
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
    padding-bottom: 10px;
}

.copy{
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #010101;
    padding: 22px;
    margin: 0 20px 0 auto;
}
